:root {
    --tah-background-color: #00000000;
    --tah-border-radius: 3px;
    --tah-gap: 5px;
    --tah-button-background: var(--tah-button-background-color);
    --tah-button-background-color: rgba(11, 10, 19, 0.9);
    --tah-button-border: none;
    --tah-button-box-shadow: 0 2px 0 -1px #0c0c0c,
      0 0 0 1px #060606,
      0 0 5px #000000ff;
    --tah-button-box-font-weight: normal;
    --tah-button-text-color: var(--tah-text-primary-color);
    --tah-button-height: 32px;
    --tah-button-min-width: 32px;
    --tah-button-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
    --tah-button-hover-background-color: var(--tah-button-background-color);
    --tah-button-hover-border: none;
    --tah-button-hover-box-shadow: 0 2px 0 -1px var(--tah-text-tertiary-color),
      0 0 0 1px red,
      0 0 10px var(--tah-text-tertiary-color);
    --tah-button-hover-text-primary-color: #ffffff;
    --tah-button-hover-text-secondary-color: var(--tah-text-hover-secondary-color);
    --tah-button-hover-text-tertiary-color: var(--tah-text-hover-tertiary-color);
    --tah-button-active-background-color: rgba(60, 0, 120, 0.9);
    --tah-button-active-border: none;
    --tah-button-active-box-shadow: 0 0 0 1px #9b8dff,
      inset 0 0 10px #9b8dff;
    --tah-button-active-text-color: #ffffff;
    --tah-button-toggle-background-color: #000000b3;
    --tah-button-toggle-hover-background-color: rgba(60, 0, 120, 0.9);
    --tah-button-toggle-hover-border: none;
    --tah-button-toggle-hover-box-shadow: 0 0 0 1px #9b8dff,
      0 0 10px #9b8dff;
    --tah-button-image-background-color: #00000080;
    --tah-button-image-border-radius: var(--tah-border-radius);
    --tah-button-image-height: var(--tah-button-height);
    --tah-button-image-width: var(--tah-button-min-width);
    --tah-icon-color: var(--tah-text-primary-color);
    --tah-icon-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
    --tah-icon-hover-color: #ffffff;
    --tah-icon-hover-text-shadow: 0 0 8px var(--color-shadow-primary);
    --tah-text-primary-color: #efe6d8;
    --tah-text-secondary-color: #d0b8a3;
    --tah-text-tertiary-color: #ff6400;
    --tah-character-name-color: var(--tah-text-primary-color);
    --tah-character-name-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
    --tah-list-subgroup-title-icon-color: var(--tah-text-primary-color);
    --tah-list-subgroup-title-hover-icon-color: #ffffff;
    --tah-list-subgroup-title-font-size: var(--font-size-16);
    --tah-subgroups-background: none;
    --tah-text-disabled-color: #d0b8a3;
    --tah-text-hover-primary-color: var(--tah-text-primary-color);
    --tah-text-hover-secondary-color: var(--tah-text-secondary-color);
    --tah-text-hover-tertiary-color: var(--tah-text-tertiary-color);
    --tah-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  }
  #token-action-hud {
    display: flex;
    /* -------------------------------------------- */
    /* Button Container                             */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    /* Box Button                                   */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    /* Icon Button                                  */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    /* Groups                                       */
    /* -------------------------------------------- */
    flex-direction: column;
    background-color: #00000060;
    height: 100%;
  }
  #token-action-hud .tah-hidden {
    display: none !important;
  }
  #token-action-hud #tah-character-name {
    color: var(--tah-character-name-color);
    font-size: var(--font-size-16);
    text-shadow: var(--tah-character-name-text-shadow);
    z-index: 1;
    width: max-content;
    padding: 5px;
  }
  #token-action-hud:hover #tah-collapse-expand > #tah-collapse-hud,
  #token-action-hud:hover > #tah-buttons {
    display: flex;
  }
  #token-action-hud #tah-collapse-expand {
    left: -20px;
    position: absolute;
  }
  #token-action-hud #tah-collapse-expand #tah-collapse-hud {
    align-items: center;
    display: none;
    height: var(--tah-button-height);
    position: relative;
    z-index: 1;
  }
  #token-action-hud #tah-collapse-expand #tah-expand-hud {
    background: var(--tah-button-background);
    justify-content: center;
    min-width: auto;
    padding: 0 5px;
  }
  #token-action-hud #tah-collapse-expand button > i {
    font-size: var(--font-size-16);
  }
  #token-action-hud #tah-buttons {
    align-items: center;
    display: flex;
    font-style: normal;
    font-weight: normal;
    height: var(--tah-button-height);
    position: absolute;
    z-index: 1;
    left: calc(100% - 30px);
  }
  #token-action-hud .tah-tab-group.hover > .tah-button-box {
    background-color: var(--tah-button-hover-background-color);
    border: none;
    color: var(--tah-button-hover-text-primary-color);
    box-shadow: 0 1px 1px #ff0000,  0 10px 10px #ff000030;
  }
  #token-action-hud .tah-button-box {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--tah-button-text-color);
    display: flex;
    font-size: var(--font-size-13);
    font-weight: var(--tah-button-box-font-weight);
    height: var(--tah-button-height);
    margin: 0;
    padding: 0 10px;
    text-shadow: var(--tah-button-text-shadow);
    /* -------------------------------------------- */
    /* Disabled Button                              */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    /* Toggleable Button                            */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    /*  Edit Group Icon                             */
    /* -------------------------------------------- */
    /* -------------------------------------------- */
    width: 100%;
    text-overflow: ellipsis;
    border-radius: 0;
    gap: 5px;
  }
  #token-action-hud .tah-button-box.tah-group-button {
  }
  #token-action-hud .tah-button-box:not(.disabled):active,
  #token-action-hud .tah-button-box:not(.disabled):hover {
    background-color: var(--tah-button-hover-background-color);
    border: none;
    color: var(--tah-button-hover-text-primary-color);
    box-shadow: 0 1px 1px #ff0000, 0 10px 10px #ff000033;
  }
  #token-action-hud .tah-button-box:not(.disabled):active .tah-info,
  #token-action-hud .tah-button-box:not(.disabled):hover .tah-info {
    color: var(--tah-button-hover-text-secondary-color);
  }
  #token-action-hud .tah-button-box:not(.disabled):active .tah-info.tah-spotlight,
  #token-action-hud .tah-button-box:not(.disabled):hover .tah-info.tah-spotlight {
    color: var(--tah-button-hover-text-tertiary-color);
  }
  #token-action-hud .tah-button-box.disabled {
    color: var(--tah-text-disabled-color);
  }
  #token-action-hud .tah-button-box.disabled:hover {
    box-shadow: var(--tah-button-box-shadow);
  }
  #token-action-hud .tah-button-box.toggle:not(.disabled):hover {
    background: var(--tah-button-toggle-hover-background-color);
    border: var(--tah-button-toggle-hover-border);
    box-shadow: var(--tah-button-toggle-hover-box-shadow);
  }
  #token-action-hud .tah-button-box.active {
    background: var(--tah-button-active-background-color);
    border: var(--tah-button-active-border);
    box-shadow: var(--tah-button-active-box-shadow);
    color: var(--tah-button-active-text-color);
  }
  #token-action-hud .tah-button-box.active.activeText > .tah-action-button-content:after {
    content: "*";
  }
  #token-action-hud .tah-button-box.shrink {
    min-width: min-content;
  }
  #token-action-hud .tah-button-box .tah-button-image {
    background-color: var(--tah-button-image-background-color) !important;
    border-radius: var(--tah-button-image-border-radius);
    height: var(--tah-button-image-height);
    min-width: var(--tah-button-image-width);
    width: var(--tah-button-image-width);
  }
  #token-action-hud .tah-button-box .tah-button-content {
    display: flex;
    gap: var(--tah-gap);
    width: 100%;
    text-overflow: ellipsis;
  }
  #token-action-hud .tah-button-box .tah-button-content:empty {
    display: none;
  }
  #token-action-hud .tah-button-box .tah-button-text {
    padding: 0;
    padding-right: 1px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
    text-wrap: nowrap;
  }
  #token-action-hud .tah-button-box .tah-icon > i {
    font-size: x-small;
    margin: 0px 2px 0px 0px;
    text-shadow: var(--tah-button-text-shadow);
  }
  #token-action-hud .tah-button-box .tah-info {
    color: var(--tah-text-secondary-color);
    font-size: x-small;
  }
  #token-action-hud .tah-button-box .tah-info.tah-spotlight {
    color: var(--tah-text-tertiary-color);
  }
  #token-action-hud .tah-button-box > .tah-edit-group-icon {
    font-size: 8px;
    position: absolute;
    right: 0px;
    top: 2px;
    visibility: hidden;
  }
  #token-action-hud .tah-button-box:hover:not(.disable-edit) > .tah-edit-group-icon {
    visibility: visible;
  }
  #token-action-hud .tah-button-icon {
    background: transparent;
    border: 0;
    line-height: unset;
    margin: 0;
    padding: 0;
  }
  #token-action-hud .tah-button-icon:hover,
  #token-action-hud .tah-button-icon:focus {
    box-shadow: none;
  }
  #token-action-hud .tah-button-icon:hover > i,
  #token-action-hud .tah-button-icon:focus > i {
    color: var(--tah-icon-hover-color);
    text-shadow: var(--tah-icon-hover-text-shadow);
  }
  #token-action-hud .tah-button-icon > i {
    color: var(--tah-icon-color);
    font-size: var(--font-size-12);
    margin: 3px;
    padding: 3px;
    pointer-events: none;
    position: relative;
    text-align: center;
    text-shadow: var(--tah-icon-text-shadow);
  }
  #token-action-hud .tah-groups {
    display: flex;
    filter: none;
    
    /* -------------------------------------------- */
    /* Actions                                      */
    /* -------------------------------------------- */
    flex-direction: column;
    width: 200px;
    overflow-x: hidden;
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container > .tah-subgroups {
    background: var(--tah-subgroups-background);
  }
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container > .tah-subgroups {
    left: -10px;
  }
  #token-action-hud .tah-groups .tah-tab-groups {
    width: max-content;
  }
  #token-action-hud .tah-groups .tah-tab-groups > .tah-tab-subgroup > .tah-subgroups > .tah-actions {
    background: var(--tah-background-color);
    border-radius: var(--tah-border-radius);
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container > .tah-subgroups,
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container > .tah-subgroups {
    background: var(--tah-subgroups-background);
    border-radius: var(--tah-border-radius);
    flex-direction: column;
    position: relative;
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-down,
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-down {
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-down > .tah-subgroups,
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-down > .tah-subgroups {
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-up,
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-up {
    bottom: calc(100% - 7px);
    flex-direction: column-reverse;
    padding-bottom: 10px;
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-up > .tah-subgroups,
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-up > .tah-subgroups {
    padding: 10px 10px 3px 10px;
  }
  #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-up > .tah-subgroups > .tah-list-subgroups,
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-up > .tah-subgroups > .tah-list-subgroups {
    flex-direction: column-reverse;
  }
  #token-action-hud .tah-groups .tah-tab-group.hover > .tah-subgroups-container,
  #token-action-hud .tah-groups .tah-tab-subgroup.hover > .tah-subgroups-container {
    display: flex;
    width: 100%;
  }
  #token-action-hud .tah-groups .tah-tab-group.hover > .tah-subgroups-container > .tah-subgroups,
  #token-action-hud .tah-groups .tah-tab-subgroup.hover > .tah-subgroups-container > .tah-subgroups {
    display: flex;
    height: max-content;
    width: 100%;
  }
  #token-action-hud .tah-groups .tah-subgroups-container {
    display: none;
  }
  #token-action-hud .tah-groups .tah-subgroups {
    display: flex;
    flex-direction: column;
    gap: var(--tah-gap);
    width: 100%;
  }
  #token-action-hud .tah-groups .tah-subgroups.expand-down {
    flex-direction: column;
  }
  #token-action-hud .tah-groups .tah-list-subgroups {
    background: var(--tah-background-color);
    border-radius: var(--tah-border-radius);
    flex-direction: column;
    display: flex;
    gap: var(--tah-gap);
  }
  #token-action-hud .tah-groups .tah-list-subgroups .tah-list-subgroups {
    background: none;
  }
  #token-action-hud .tah-groups .tah-tab-subgroups {
    display: flex;
    gap: var(--tah-gap);
    position: relative;
  }
  #token-action-hud .tah-groups .tah-list-subgroup {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title {
    align-items: center;
    color: var(--tah-text-primary-color);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--tah-font-size-10);
    gap: var(--tah-gap);
    letter-spacing: 0.1em;
    line-height: 1;
    text-shadow: var(--tah-text-shadow);
    text-transform: uppercase;
    padding: 5px 10px;
  }
  #token-action-hud .tah-button-box.tah-action-button:not(.disabled):hover {
    box-shadow: none;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover {
    color: var(--tah-text-hover-primary-color);
    cursor: pointer;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-collapse-icon:not(.tah-hidden),
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-expand-icon:not(.tah-hidden) {
    visibility: visible;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover:not(.disable-edit) > .tah-edit-icon {
    visibility: visible;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover > i {
    color: var(--tah-list-subgroup-title-hover-icon-color);
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title > i {
    color: var(--tah-list-subgroup-title-icon-color);
    font-size: 8px;
    pointer-events: none;
    position: relative;
    visibility: hidden;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title > i.tah-collapse-icon {
    bottom: 1px;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info {
    background: var(--tah-button-background-color);
    border-radius: 5px;
    color: var(--tah-text-secondary-color);
    font-size: x-small;
    padding: 1px 3px;
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info:hover {
    color: var(--tah-text-hover-secondary-color);
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight {
    color: var(--tah-text-tertiary-color);
  }
  #token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight:hover {
    color: var(--tah-text-hover-secondary-color);
  }
  #token-action-hud .tah-groups .tah-tab-subgroup > .tah-tab-subgroup > .tah-subgroups > .tah-actions {
    background: var(--tah-background-color);
    border-radius: var(--tah-border-radius);
  }
  #token-action-hud .tah-groups.tah-unlocked .tah-subgroup > .tah-list-subgroup > .tah-subgroups > .tah-list-subgroups {
    padding-left: 10px;
  }
  #token-action-hud .tah-groups .tah-subgroup[data-show-title="false"] > .tah-list-subgroup > .tah-subgroups > .tah-list-subgroups > .tah-subgroup:not([data-show-title="false"]) {
    padding-left: 0px;
  }
  #token-action-hud .tah-groups .tah-subgroup[data-show-title="false"] > div > .tah-list-subgroup-title > .tah-list-subgroup-title-text {
    color: var(--tah-text-disabled-color);
  }
  #token-action-hud .tah-groups .tah-subgroup:not([data-show-title="false"])[data-has-image="false"] > .tah-list-subgroup > .tah-subgroups > .tah-list-subgroups > .tah-subgroup:not([data-show-title="false"])[data-has-image="false"] {
    padding-left: 10px;
  }
  #token-action-hud .tah-groups > .tah-actions {
    margin-top: 5px;
  }
  #token-action-hud .tah-groups .tah-actions {gap: 5px;display: grid;width: 100%;}
  