/*
  Style made by Dorako
  many thanks for allowing usage of it!
*/

:root {
  --tah-background: none;
  --tah-border-radius: 3px;
  --tah-gap: 5px;
  --tah-icon-disabled-color: #dddddd80;
  --tah-text-color: #ddd;
  --tah-text-highlight-color: #fff;
  --tah-text-shadow:
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
  --border-width: 1px;
  --header-color: #fff;
  --header-bg: var(--primary);
  --body-padding: 0.0em 0.0em 0em 0em;
  --edge-margin: 5px;


  /* BUTTON */
  --tah-button-color: #ddd;
  --tah-button-height: 30px;
  --tah-button-min-width: 30px;

  /* BUTTON HOVER */
  --tah-button-hover-color: #fff;

    --dorako-bg-glass: rgba(120, 120, 120, 0.20);
    --dorako-bg-glass: rgba(120, 120, 120, 0.50);
    --dorako-sheet-light: rgba(20, 20, 20, 0.60);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    /* --dorako-bg-current: var(--dorako-bg-glass); */
    --dorako-bg-current: var(--dorako-sheet-light);
    /* --dorako-bg-current: hsl(0,0%, 10%); */

    --blind-bg: #A57aA5;
    --whisper-bg: #E3E3FF;

    --dorako-vibrancy: none;
    /* 
    --dorako-vibrancy: brightness(2.0) contrast(1.2) blur(5px);
    --dorako-vibrancy-active: brightness(1.5) contrast(1.0) blur(15px);
    --dorako-vibrancy-inactive: brightness(0.5) contrast(1.0) blur(15px);
    */
    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --glassy: 
    0px 0px 2px rgba(255, 255, 255, 0.4) inset, 
    0px 0px 6px rgba(255, 255, 255, 0.2) inset, 
    1px  1px 1px rgba(0, 0, 0, 1), 
    1px -1px 1px rgba(0, 0, 0, 1), 
    -1px -1px 1px rgba(0, 0, 0, 1), 
    -1px  1px 1px rgba(0, 0, 0, 1), 
    0px 0px 3px rgba(0, 0, 0, 1), 
    0px 0px 4px rgba(0, 0, 0, 0.5);


    --primary-hue: 0;
    --primary-sat: 100%;
    --primary-lvl: 18%;

    --secondary-hue: 234;
    --secondary-sat: 64%;
    --secondary-lvl: 25%;

    --paizo-red-dark: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) - 10%));
    --paizo-red: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lvl));
    --paizo-red-bright: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) + 10%));

    --paizo-blue-dark: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) - 10%));
    --paizo-blue: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lvl));
    --paizo-blue-bright: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) + 10%));

    --color-shadow-highlight: var(--paizo-red);
    --color-shadow-primary: var(--paizo-blue);

    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;

}

/*
 * HUD
 */

#token-action-hud {
  align-items: center;
  background: var(--tah-background);
  border-radius: var(--tah-border-radius);
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: auto;
  left: 150px;
  position: fixed;
  top: 80px;
  width: auto;
  z-index: 100;
}

#token-action-hud [class*="icon-"] {
  display: inline-block;
  width: 100%;
}

#tah-character-name {
  color: var(--tah-text-color);
  font-size: var(--font-size-16);
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-shadow: var(--tah-text-shadow);
  top: -20px !important;
}

.tah-hidden {
  display: none !important;
}

/*
 * BUTTONS
 */

#token-action-hud:hover > #tah-collapse-expand #tah-collapse-hud,
#token-action-hud:hover > #tah-buttons {
  display: flex;
}

#tah-collapse-hud,
#tah-buttons {
  display: none;
  font-style: normal;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

#tah-collapse-expand:hover {
  cursor: pointer;
}

#tah-collapse-expand {
  font-style: normal;
  font-weight: normal;
  left: -16px;
  position: absolute;
}

#tah-collapse-hud,
#tah-buttons button {
  background: transparent;
  border: 0;
  line-height: unset;
  margin: 0;
  padding: 0;
}

#tah-collapse-hud:hover, 
#tah-collapse-hud:focus,
#tah-buttons button:hover, 
#tah-buttons button:focus {
  box-shadow: none;
}

#tah-collapse-expand button > .fa,
#tah-collapse-expand button > .fas,
#tah-buttons button > .fa,
#tah-buttons button > .fas {
  color: var(--tah-text-color);
  margin: 3px;
  padding: 3px;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-shadow: var(--tah-text-shadow);
}

#tah-collapse-expand button > .fa,
#tah-collapse-expand button > .fas {
  font-size: small;
}

#tah-expand-hud {
  align-items: center;
  display: flex;
  left: -1px;
  position: relative;
  top: 14px;
  width: auto;
}

#tah-expand-hud,
.tah-category-button {
  align-items: center;
  display: inline-flex;
  height: var(--tah-button-height);
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-shadow: 
    1px 1px 1px rgb(0 0 0),
    0px 1px 3px rgb(0 0 0);
  z-index: 1;
}

.tah-category-button {
  min-width: var(--tah-button-min-width);
}

.tah-category-button-content > .fa,
.tah-category-button-content > .fas {
  font-size: 8px;
  pointer-events: none;
  position: absolute;
  right: 3px;
  top: 3px;
  visibility: hidden;
}

.tah-category-button:hover:not(.disable-edit) .tah-category-button-content > .fa,
.tah-category-button:hover:not(.disable-edit) .tah-category-button-content > .fas {
  visibility: visible;
}

#tah-edit-categories > .fa,
#tah-edit-categories > .fas {
  font-size: var(--font-size-16);
}

#tah-collapse-expand:hover button > i,
#tah-lock:hover > i,
#tah-unlock:hover > i,
#tah-edit-categories:hover > i {
  color: var(--tah-text-highlight-color);
}

#tah-expand-hud,
.tah-category-button,
.tah-action button {
  backdrop-filter: var(--dorako-vibrancy);
  background-color: var(--dorako-bg-current);
  border: none;
  box-shadow: var(--glassy);
  color: var(--tah-button-color);
  min-height: var(--tah-button-height);
  text-shadow: var(--dorako-text-shadow);
  transition: all 0.1s ease-in-out;
}

#tah-expand-hud:hover,
.tah-category button:hover,
.tah-category.hover > button,
.tah-action button:hover {
  box-shadow: var(--glassy);
  color: var(--tah-button-hover-color);
  cursor: pointer;
}

.tah-category-button:focus {
  box-shadow: var(--glassy);
}

/*
 * CATEGORY
 */

#tah-categories {
  display: flex;
  gap: var(--tah-gap);
}

.tah-category {
  cursor: default;
  display: block;
  height: min-content;
  position: relative;
}

.tah-category-button-content {
  padding: 0;
}

.tah-category-button-text {
  padding: 0 10px 0 10px;
}

/*
 * SUBCATEGORY
 */

.tah-category.hover .tah-subcategories-wrapper {
  background: none;
  display: block;
  position: absolute;
}

.tah-subcategories-wrapper {
  display: none;
  position: relative;
}

.tah-subcategories-wrapper.expand-up {
  bottom: 19px;
  flex-direction: column-reverse;
  left: -10px;
  padding: 10px;
}

.tah-subcategories-wrapper.expand-down {
  flex-direction: column;
  left: -10px;
  padding: 10px;
  top: 19px;
}

.tah-subcategories-wrapper.expand-up > .tah-subcategories {
  flex-direction: column-reverse;
  padding: 10px 10px 3px 10px;
}

.tah-subcategories-wrapper.expand-down > .tah-subcategories {
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.tah-subcategories {
  background: var(--tah-background);
  border-radius: var(--tah-border-radius);
  display: inline-flex;
  left: -9px;
  overflow-y: auto;
  position: relative;
  width: max-content;
}

.tah-subcategory {
  cursor: default;
  margin-top: 2px;
  position: relative;
}

#tah-categories:not(.tah-unlocked) .tah-subcategory[data-has-actions="true"] > .tah-subcategory[data-show-title="false"] {
  margin-top: 6px;
}

#tah-categories.tah-unlocked .tah-subcategory > .tah-subcategory {
  padding-left: 10px;
}

#tah-categories.tah-unlocked .tah-subcategory > .tah-subcategory {
  padding-left: 10px;
}

#tah-categories:not(.tah-unlocked) .tah-subcategory[data-show-title="false"] {
  margin-top: 0;
}

.tah-subcategory[data-show-title="false"] > .tah-subcategory:not([data-show-title="false"]) {
  padding-left: 0px;
}

.tah-subcategory:not([data-show-title="false"]) > .tah-subcategory:not([data-show-title="false"]) {
  padding-left: 10px;
}

.tah-subcategory[data-show-title="false"] > .tah-subtitle {
  color: var(--tah-icon-disabled-color);
}

/*
 * SUBTITLES
 */

 .tah-subcategories > .tah-subcategory > .tah-subtitle {
  width: 100%;
}

.tah-subtitle {
  align-items: center;
  color: var(--tah-text-color);
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--tah-gap);
  padding-bottom: 2px;
  text-shadow: var(--tah-text-shadow);
}

.tah-subtitle > .fa,
.tah-subtitle > .fas {
  font-size: 8px;
  pointer-events: none;
  visibility: hidden;
}

.tah-subtitle:hover:not(.disable-edit) > .fa,
.tah-subtitle:hover:not(.disable-edit) > .fas {
  color: var(--tah-text-highlight-color);
  cursor: pointer;
  visibility: visible;
}

.tah-subtitle:hover:not(.disable-edit),
.tah-subtitle:hover:not(.disable-edit) {
  color: var(--tah-text-highlight-color);
  cursor: pointer;
}

/*
 * ACTIONS
 */

.tah-actions {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: var(--tah-gap);
  grid-column: 2;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
}

/* Links inside the dropdown */
.tah-action {
  background: none;
  flex-basis: auto;
  flex-grow: 0;
}

.tah-action button {
  align-items: center;
  backdrop-filter: var(--dorako-vibrancy);
  background-color: var(--dorako-bg-current);
  border: none;
  border-radius: var(--tah-border-radius);
  box-shadow: var(--glassy);
  color: var(--tah-button-color);
  display: flex;
  line-height: 1;
  margin: 0;
  min-height: var(--tah-button-height);
  min-width: var(--tah-button-min-width);
  padding: 0;
  text-decoration: none;
  text-shadow: var(--dorako-text-shadow);
  width: 100%;
}

.tah-action button[value*="toggle"]:hover {
  background-color: var(--paizo-blue);
}

.tah-action.active,
.tah-action.active button[value*="toggle"] {
  background-color: var(--paizo-blue-bright) !important;
}

#tah-expand-hud:hover,
.tah-category-button:hover,
.tah-action button:hover {
  background-color: var(--paizo-red);
  border: none;
  box-shadow: var(--glassy);
  transition: backdrop-filter 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}


.tah-action button:hover {
  color: #fff;
  cursor: pointer;
  font-weight: inherit;
}

.tah-action button[value^="toggle"]:hover {
  background-color: var(--paizo-blue);
  border: none;
  box-shadow: var(--glassy);
  transition: backdrop-filter 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.tah-action .tah-img {
  border: none;
  box-shadow: 0 0 0 1px var(--tertiary);
}

.tah-action .active.activeText > .tah-action-button-content:after {
  content: "*";
}

.tah-action-button-content {
  align-items: center;
  display: inline-flex;
  gap: 2px;
  min-height: var(--tah-button-height);
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.tah-action-button-text {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  max-height: 2em;
}

/*
 * INFO TEXTS
 */

.tah-info1,
.tah-info2,
.tah-info3 {
  font-size: smaller;
}


.tah-info1 {
  text-shadow: 
    0 0 1px rgba(2, 248, 14, 0.95),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-info2 {
  text-shadow:
    0 0 1px rgba(240, 2, 248, 0.95),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-info3 {
  text-shadow: 
    0 0 1px rgba(2, 240, 248, 0.95),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-img {
  border-radius: var(--tah-border-radius);
  height: var(--tah-button-height);
  min-width: var(--tah-button-min-width);
  width: var(--tah-button-min-width);
}

.tah-icon > .fa,
.tah-icon > .fas {
  font-size: x-small;
  margin: 0px 2px 0px 0px;
}

.tah-icon-disabled {
  color: var(--tah-icon-disabled-color);
}

.tah-subtitle > .tah-icon > .fa,
.tah-subtitle > .tah-icon > .fas {
  text-shadow:
    0 0 1px rgb(255, 255, 255),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1),
    1px 1px 1px rgba(52, 52, 52, 1);
}

.tah-info1:before {
  content: "(";
}

.tah-info1:after {
  content: ")";
}

.tah-info2:before {
  content: "[";
}

.tah-info2:after {
  content: "]";
}

.tah-info3:before {
  content: "{";
}

.tah-info3:after {
  content: "}";
}

/*
 * DIALOGS
 */

.token-action-hud-taginput {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

#tah-dialog-clear-tags {
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid var(--color-border-light-primary);
  margin-top: 2px;
}