:root {
  --tah-background: #000000b3;
  --tah-border-radius: 3px;
  --tah-gap: 5px;
  --tah-icon-disabled-color: #dddddd80;
  --tah-info-spotlight-color: #ff6400;
  --tah-info-color-primary: #dddddd80;
  --tah-text-color: #ddd;
  --tah-text-highlight-color: #ddd;
  --tah-text-shadow: 1px 1px 1px rgb(0 0 0), 0px 1px 3px rgb(0 0 0);

  /* BUTTON */
  --tah-button-background-color: #000000b3;
  --tah-button-border: none;
  --tah-button-box-shadow: 0 2px 0 -1px #0c0c0c, 0 0 0 1px #060606, 0 0 5px #000000ff;
  --tah-button-color: #ddd;
  --tah-button-height: 22px;
  --tah-button-min-width: 22px;

  /* BUTTON HOVER */
  --tah-button-hover-box-shadow: 0 2px 0 -1px #ff6400, 0 0 0 1px red, 0 0 10px #ff6400;
  --tah-button-hover-color: #fff;

  /* BUTTON ACTIVE */
  --tah-button-active-background-color: #3c0078bf;
  --tah-button-active-box-shadow: 0 0 0 1px #9b8dff, inset 0 0 10px #ffffff1a;

  /* BUTTON TOGGLE */
  --tah-button-toggle-background-color: #000000b3;
  --tah-button-toggle-outline: #000000ff;

  /* BUTTON TOGGLE HOVER */
  --tah-button-toggle-hover-background-color: #3c0078bf;
  --tah-button-toggle-hover-box-shadow: 0 0 0 1px #9b8dff, 0 0 10px #9b8dff;
}

/*
 * HUD
 */

#token-action-hud {
  align-items: center;
  background: var(--tah-background);
  border-radius: var(--tah-border-radius);
  display: flex;
  flex-direction: row;
  height: auto;
  left: 150px;
  position: fixed;
  top: 80px;
  width: auto;
  z-index: 100;
}

#token-action-hud [class*="icon-"] {
  display: inline-block;
  width: 100%;
}

#tah-character-name {
  color: var(--tah-text-color);
  font-size: var(--font-size-16);
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-shadow: var(--tah-text-shadow);
  top: -20px !important;
}

.tah-hidden {
  display: none !important;
}

/*
 * BUTTONS
 */

#token-action-hud:hover > #tah-collapse-expand #tah-collapse-hud,
#token-action-hud:hover > #tah-buttons {
  display: flex;
}

#tah-collapse-hud,
#tah-buttons {
  display: none;
  font-style: normal;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

#tah-collapse-expand:hover {
  cursor: pointer;
}

#tah-collapse-expand {
  font-style: normal;
  font-weight: normal;
  left: -16px;
  position: absolute;
}

#tah-collapse-hud,
#tah-buttons button {
  background: transparent;
  border: 0;
  line-height: unset;
  margin: 0;
  padding: 0;
}

#tah-collapse-hud:hover, 
#tah-collapse-hud:focus,
#tah-buttons button:hover, 
#tah-buttons button:focus {
  box-shadow: none;
}

#tah-collapse-expand button > .fa,
#tah-collapse-expand button > .fas,
#tah-buttons button > .fa,
#tah-buttons button > .fas {
  color: var(--tah-text-color);
  margin: 3px;
  padding: 3px;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-shadow: var(--tah-text-shadow);
}

#tah-collapse-expand button > .fa,
#tah-collapse-expand button > .fas {
  font-size: small;
}

#tah-expand-hud {
  align-items: center;
  display: flex;
  left: -1px;
  position: relative;
  top: 11px;
  width: auto;
}

#tah-expand-hud,
.tah-category-button {
  align-items: center;
  display: inline-flex;
  height: var(--tah-button-height);
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-shadow: 
    1px 1px 1px rgb(0 0 0),
    0px 1px 3px rgb(0 0 0);
  z-index: 1;
}

.tah-category-button {
  min-width: var(--tah-button-min-width);
}

.tah-category-button-content > .fa,
.tah-category-button-content > .fas {
  font-size: 5px;
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 2px;
  visibility: hidden;
}

.tah-category-button:hover:not(.disable-edit) .tah-category-button-content > .fa,
.tah-category-button:hover:not(.disable-edit) .tah-category-button-content > .fas {
  visibility: visible;
}


#tah-collapse-expand:hover button > i,
#tah-lock:hover > i,
#tah-unlock:hover > i,
#tah-edit-categories:hover > i {
  color: var(--tah-text-highlight-color);
  text-shadow: 0 0 8px var(--color-shadow-primary);
}

#tah-expand-hud,
.tah-category-button,
.tah-action button {
	background-color: var(--tah-button-background-color);
  border: var(--tah-button-border);
  border-radius: var(--tah-border-radius);
  box-shadow: var(--tah-button-box-shadow);
  color: var(--tah-button-color);
  min-height: var(--tah-button-height);
	transition: all 0.1s ease-in-out;
}

#tah-expand-hud:hover,
.tah-category button:hover,
.tah-category.hover > button,
.tah-action button:hover {
  box-shadow: var(--tah-button-hover-box-shadow);
  color: var(--tah-button-hover-color);
  cursor: pointer;
}

.tah-category button:active {
  box-shadow: var(--tah-button-hover-box-shadow);
  color: var(--tah-button-hover-color);
}

.tah-action.active button {
  background: var(--tah-button-active-background-color);
  box-shadow: var(--tah-button-active-box-shadow);
}

.tah-action.toggle button:hover {
  background: var(--tah-button-toggle-hover-background-color);
  box-shadow: var(--tah-button-toggle-hover-box-shadow);
}

/*
 * CATEGORY
 */

#tah-categories {
  display: flex;
  gap: var(--tah-gap);
}

.tah-category {
  cursor: default;
  display: block;
  height: min-content;
  position: relative;
}

.tah-category-button-content {
  padding: 0;
}

.tah-category-button-text {
  padding: 0 5px 0 5px;
}

/*
 * SUBCATEGORY
 */

.tah-category.hover .tah-subcategories-wrapper {
  background: none;
  display: block;
  position: absolute;
}

.tah-subcategories-wrapper {
  display: none;
  position: relative;
}

.tah-subcategories-wrapper.expand-up {
  bottom: 13px;
  flex-direction: column-reverse;
  left: -10px;
  padding: 10px;
}

.tah-subcategories-wrapper.expand-down {
  flex-direction: column;
  left: -10px;
  padding: 10px;
  top: 12px;
}

.tah-subcategories-wrapper.expand-up > .tah-subcategories {
  flex-direction: column-reverse;
  padding: 10px 10px 3px 10px;
}

.tah-subcategories-wrapper.expand-down > .tah-subcategories {
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.tah-subcategories {
  background: var(--tah-background);
  border-radius: var(--tah-border-radius);
  display: inline-flex;
  left: -9px;
  overflow-y: auto;
  position: relative;
  width: max-content;
}

.tah-subcategory {
  cursor: default;
  margin-top: 2px;
  position: relative;
}

#tah-categories:not(.tah-unlocked) .tah-subcategory[data-has-actions="true"] > .tah-subcategory[data-show-title="false"] {
  margin-top: 6px;
}

#tah-categories.tah-unlocked .tah-subcategory > .tah-subcategory {
  padding-left: 10px;
}

#tah-categories.tah-unlocked .tah-subcategory > .tah-subcategory {
  padding-left: 10px;
}

#tah-categories:not(.tah-unlocked) .tah-subcategory[data-show-title="false"] {
  margin-top: 0;
}

.tah-subcategory[data-show-title="false"] > .tah-subcategory:not([data-show-title="false"]) {
  padding-left: 0px;
}

.tah-subcategory:not([data-show-title="false"]) > .tah-subcategory:not([data-show-title="false"]) {
  padding-left: 10px;
}

.tah-subcategory[data-show-title="false"] > .tah-subtitle {
  color: var(--tah-icon-disabled-color);
}

/*
 * SUBTITLES
 */

 .tah-subcategories > .tah-subcategory > .tah-subtitle {
  width: 100%;
}

.tah-subtitle {
  align-items: center;
  color: var(--tah-text-color);
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--tah-gap);
  padding-bottom: 1px;
  text-shadow: var(--tah-text-shadow);
}

.tah-subtitle > .fa,
.tah-subtitle > .fas {
  font-size: 8px;
  pointer-events: none;
  visibility: hidden;
}

.tah-subtitle:hover:not(.disable-edit) > .fa,
.tah-subtitle:hover:not(.disable-edit) > .fas {
  color: var(--tah-text-highlight-color);
  cursor: pointer;
  visibility: visible;
}

.tah-subtitle:hover:not(.disable-edit),
.tah-subtitle:hover:not(.disable-edit) {
  color: var(--tah-text-highlight-color);
  cursor: pointer;
}

/*
 * ACTIONS
 */

.tah-actions {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: var(--tah-gap);
  grid-column: 2;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
}

/* Links inside the dropdown */
.tah-action {
  background: none;
  flex-basis: auto;
  flex-grow: 0;
}

.tah-action button {
  align-items: center;
  color: var(--tah-button-color);
  display: flex;
  line-height: 1;
  margin: 0;
  min-height: var(--tah-button-height);
  min-width: var(--tah-button-min-width);
  padding: 0;
  text-decoration: none;
  text-shadow: var(--tah-text-shadow);
  width: 100%;
}

.tah-action .active.activeText > .tah-action-button-content:after {
  content: "*";
}

.tah-action-button-content {
  align-items: center;
  display: inline-flex;
  gap: 5px;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.tah-action-button-text {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  max-height: 2em;
}

/*
 * INFO TEXTS
 */

.tah-info1,
.tah-info2,
.tah-info3 {
  font-size: xx-small;
}

.tah-subtitle > .tah-info1,
.tah-subtitle > .tah-info2,
.tah-subtitle > .tah-info3 {
  background: var(--tah-button-background-color);
  border-radius: 5px;
  margin: 1px;
  padding: 0px 3px 0 3px;
}

.tah-info1,
.tah-info2,
.tah-info3 {
  color: var(--tah-info-color-primary);
}

.tah-info1.tah-spotlight,
.tah-info2.tah-spotlight,
.tah-info3.tah-spotlight {
  color: var(--tah-info-spotlight-color);
}

.tah-img {
  border-radius: var(--tah-border-radius);
  height: var(--tah-button-height);
  min-width: var(--tah-button-min-width);
  width: var(--tah-button-min-width);
}

.tah-icon > .fa,
.tah-icon > .fas {
  font-size: x-small;
  margin: 0px 2px 0px 0px;
}

.tah-icon-disabled {
  color: var(--tah-icon-disabled-color);
}

.tah-subtitle > .tah-icon > .fa,
.tah-subtitle > .tah-icon > .fas {
  text-shadow: var(--tah-text-shadow);
}

/*
 * DIALOGS
 */

.token-action-hud-taginput {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

#tah-dialog-clear-tags {
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid var(--color-border-light-primary);
  margin-top: 2px;
}