#token-action-hud-app.tah-style-docked-left-v13 {
  --tah-background-color: #0b0a13bf;
  --tah-border-radius: 4px;
  --tah-gap: 5px;
  --tah-hud-width: 200px;
  --tah-button-background: var(--tah-button-background-color);
  --tah-button-background-color: #0b0a1360;
  --tah-button-border: none;
  --tah-button-box-shadow: 0 2px 0 -1px #0c0c0c,
    0 0 0 1px #060606,
    0 0 5px #000000ff;
  --tah-button-box-font-weight: normal;
  --tah-button-text-color: var(--tah-text-primary-color);
  --tah-button-height: 32px;
  --tah-button-min-width: 32px;
  --tah-button-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  --tah-button-hover-background-color: #ffffff40;
  --tah-button-hover-border: none;
  --tah-button-hover-box-shadow: none;
  --tah-button-hover-text-primary-color: #ffffff;
  --tah-button-hover-text-secondary-color: var(--tah-text-hover-secondary-color);
  --tah-button-hover-text-tertiary-color: var(--tah-text-hover-tertiary-color);
  --tah-button-active-background-color: #5252d7;
  --tah-button-active-border: none;
  --tah-button-active-box-shadow: none;
  --tah-button-active-text-color: #ffffff;
  --tah-button-toggle-background-color: #000000b3;
  --tah-button-toggle-hover-background-color: #222248bf;
  --tah-button-toggle-hover-border: none;
  --tah-button-toggle-hover-box-shadow: none;
  --tah-button-image-background-color: #00000080;
  --tah-button-image-border: 1px solid #ffffff30;
  --tah-button-image-border-radius: var(--tah-border-radius);
  --tah-button-image-height: var(--tah-button-height);
  --tah-button-image-width: var(--tah-button-min-width);
  --tah-icon-color: var(--tah-text-primary-color);
  --tah-icon-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  --tah-icon-hover-color: #ffffff;
  --tah-icon-hover-text-shadow: 0 0 8px var(--color-shadow-primary);
  --tah-text-primary-color: #efe6d8;
  --tah-text-secondary-color: #d0b8a3;
  --tah-text-tertiary-color: #ff6400;
  --tah-character-name-color: var(--tah-text-primary-color);
  --tah-character-name-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  --tah-list-subgroup-title-icon-color: var(--tah-text-primary-color);
  --tah-list-subgroup-title-hover-icon-color: #ffffff;
  --tah-list-subgroup-title-font-size: var(--font-size-16);
  --tah-subgroups-container-background-color: #ffffff30;
  --tah-subgroups-background: none;
  --tah-text-disabled-color: #d0b8a3;
  --tah-text-hover-primary-color: var(--tah-text-primary-color);
  --tah-text-hover-secondary-color: var(--tah-text-secondary-color);
  --tah-text-hover-tertiary-color: var(--tah-text-tertiary-color);
  --tah-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  flex: 0;
  height: min-content;
  margin: 0;
  pointer-events: all;
  z-index: 20;
}
#token-action-hud-app.tah-style-docked-left-v13.tah-expanded #token-action-hud {
  position: relative;
  transition: width 0.5s;
  width: var(--tah-hud-width);
}
#token-action-hud-app.tah-style-docked-left-v13.tah-expanded #token-action-hud #tah-buttons {
  display: flex;
  opacity: 1;
  transition: all 0.4s allow-discrete;
  transition-delay: 0.1s;
}
#token-action-hud-app.tah-style-docked-left-v13.tah-expanded #token-action-hud #tah-character-name {
  opacity: 1;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}
#token-action-hud-app.tah-style-docked-left-v13:not(.tah-expanded) #token-action-hud #tah-buttons {
  display: none;
  opacity: 0;
}
#token-action-hud-app.tah-style-docked-left-v13.tah-closed #tah-collapse-expand {
  display: none;
}
#token-action-hud-app.tah-style-docked-left-v13 .tah-hidden {
  display: none !important;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud {
  background-color: var(--tah-background-color);
  border-radius: 4px 0 4px 4px;
  transition: width 0.5s;
  width: 0;
  /* -------------------------------------------- */
  /* Button Container                             */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Box Button                                   */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Icon Button                                  */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Groups                                       */
  /* -------------------------------------------- */
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud #tah-character-name {
  color: var(--tah-character-name-color);
  font-size: var(--font-size-16);
  height: var(--tah-button-height);
  margin: 0 5px;
  opacity: 1;
  overflow: hidden;
  padding: 5px 0;
  text-shadow: var(--tah-character-name-text-shadow);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud #tah-collapse-expand {
  background-color: var(--tah-background-color);
  left: unset;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud #tah-collapse-expand #tah-collapse-hud {
  background: var(--tah-background-color);
  border-radius: 0 3px 3px 0;
  height: var(--tah-button-height);
  position: absolute;
  width: 12px;
  z-index: 1;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud #tah-collapse-expand #tah-expand-hud {
  background: var(--tah-background-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 12px;
  z-index: 1;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud #tah-collapse-expand button > i {
  display: flex;
  font-size: var(var(--font-size-16));
  justify-content: center;
  margin: 0;
  padding: 0;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud #tah-buttons {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: var(--tah-button-height);
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--tah-button-text-color);
  display: flex;
  font-size: var(--font-size-13);
  font-weight: var(--tah-button-box-font-weight);
  gap: var(--tah-gap);
  max-width: 200px;
  min-height: var(--tah-button-height);
  margin: 0;
  padding: 5px;
  text-shadow: var(--tah-button-text-shadow);
  width: 100%;
  /* -------------------------------------------- */
  /* Disabled Button                              */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Toggleable Button                            */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /*  Edit Group Icon                             */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.tah-group-button {
  background-color: var(--tah-button-background-color);
  font-size: var(--font-size-12);
  letter-spacing: 0.1rem;
  min-width: 120px;
  text-transform: uppercase;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.tah-action-button {
  min-width: 120px;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:not(.disabled):active,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:not(.disabled):hover {
  background-color: var(--tah-button-hover-background-color);
  border: var(--tah-button-hover-border);
  box-shadow: var(--tah-button-hover-box-shadow);
  color: var(--tah-button-hover-text-primary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:not(.disabled):active .tah-info,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:not(.disabled):hover .tah-info {
  color: var(--tah-button-hover-text-secondary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:not(.disabled):active .tah-info.tah-spotlight,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:not(.disabled):hover .tah-info.tah-spotlight {
  color: var(--tah-button-hover-text-tertiary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:focus {
  box-shadow: none;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.disabled {
  color: var(--tah-text-disabled-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.disabled:hover {
  box-shadow: var(--tah-button-box-shadow);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.toggle:not(.disabled):hover {
  background: var(--tah-button-toggle-hover-background-color);
  border: var(--tah-button-toggle-hover-border);
  box-shadow: var(--tah-button-toggle-hover-box-shadow);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.active {
  background: var(--tah-button-active-background-color);
  border: var(--tah-button-active-border);
  box-shadow: var(--tah-button-active-box-shadow);
  color: var(--tah-button-active-text-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.active.activeText > .tah-button-content:after {
  content: "*";
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box.shrink {
  min-width: min-content;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-button-image {
  background-color: var(--tah-button-image-background-color) !important;
  border: var(--tah-button-image-border);
  border-radius: var(--tah-button-image-border-radius);
  height: var(--tah-button-image-height);
  min-width: var(--tah-button-image-width);
  width: var(--tah-button-image-width);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-button-content {
  display: flex;
  gap: var(--tah-gap);
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-button-content:empty {
  display: none;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-button-text {
  align-items: center;
  display: flex;
  line-height: 1;
  overflow: hidden;
  padding: 1px 0;
  padding-right: 1px;
  text-align: left;
  text-overflow: ellipsis;
  text-wrap: wrap;
  width: 100%;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-icon > i {
  font-size: x-small;
  margin: 0px 2px 0px 0px;
  text-shadow: var(--tah-button-text-shadow);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-info-container {
  display: flex;
  gap: var(--tah-gap);
  padding-right: 2px;
  position: relative;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-info-container .tah-info {
  color: var(--tah-text-secondary-color);
  font-size: x-small;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box .tah-info-container .tah-info.tah-spotlight {
  color: var(--tah-text-tertiary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box > .tah-edit-group-icon {
  font-size: 8px;
  position: relative;
  visibility: hidden;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-box:hover:not(.disable-edit) > .tah-edit-group-icon {
  visibility: visible;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-icon {
  background: transparent;
  border: 0;
  line-height: unset;
  margin: 0;
  padding: 0;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-icon:hover,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-icon:focus {
  box-shadow: none;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-icon:hover > i,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-icon:focus > i {
  color: var(--tah-icon-hover-color);
  text-shadow: var(--tah-icon-hover-text-shadow);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-button-icon > i {
  color: var(--tah-icon-color);
  font-size: var(--font-size-12);
  margin: 3px;
  padding: 3px;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-shadow: var(--tah-icon-text-shadow);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups {
  border-radius: 0 0 4px 4px;
  display: flex;
  filter: none;
  flex-direction: column;
  overflow-x: hidden;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-groups {
  width: max-content;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-groups > .tah-tab-subgroup > .tah-subgroups > .tah-actions {
  background: var(--tah-background-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-subgroups {
  border-top: 1px solid var(--tah-button-hover-background-color);
  display: flex;
  flex-direction: column;
  gap: var(--tah-gap);
  width: 100%;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container > .tah-subgroups {
  left: -10px;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup {
  /* -------------------------------------------- */
  /* Actions                                      */
  /* -------------------------------------------- */
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group.hover > .tah-subgroups-container,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup.hover > .tah-subgroups-container {
  display: flex;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group.hover > .tah-subgroups-container .tah-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup.hover > .tah-subgroups-container .tah-subgroups {
  display: flex;
  height: max-content;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container > .tah-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container > .tah-subgroups {
  flex-direction: column;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.hover > .tah-subgroups-container,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.hover > .tah-subgroups-container {
  display: flex;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.hover > .tah-subgroups-container > .tah-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.hover > .tah-subgroups-container > .tah-subgroups {
  display: flex;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container {
  display: none;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-subgroups {
  display: flex;
  flex-direction: column;
  gap: var(--tah-gap);
  width: max-content;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroups {
  flex-direction: column;
  display: flex;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroups .tah-list-image,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroups .tah-list-image {
  display: none;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroups .tah-list-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroups .tah-list-subgroups {
  background: none;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-tab-subgroups,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-tab-subgroups {
  display: flex;
  gap: var(--tah-gap);
  position: relative;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title {
  align-items: center;
  color: var(--tah-text-primary-color);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--tah-font-size-10);
  gap: var(--tah-gap);
  letter-spacing: 0.1em;
  line-height: 1;
  min-width: 120px;
  padding: 5px;
  text-shadow: var(--tah-text-shadow);
  text-transform: uppercase;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title:hover,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title:hover {
  box-shadow: none;
  color: var(--tah-text-hover-primary-color);
  cursor: pointer;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-collapse-icon:not(.tah-hidden),
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-collapse-icon:not(.tah-hidden),
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-expand-icon:not(.tah-hidden),
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-expand-icon:not(.tah-hidden) {
  visibility: visible;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title:hover:not(.disable-edit) > .tah-edit-icon,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title:hover:not(.disable-edit) > .tah-edit-icon {
  visibility: visible;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title:hover > i,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title:hover > i {
  color: var(--tah-list-subgroup-title-hover-icon-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title > i,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title > i {
  color: var(--tah-list-subgroup-title-icon-color);
  font-size: 8px;
  pointer-events: none;
  position: relative;
  visibility: hidden;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title > i.tah-collapse-icon,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title > i.tah-collapse-icon {
  bottom: 1px;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title > i.tah-edit-icon,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title > i.tah-edit-icon {
  padding-right: 10px;
  position: absolute;
  right: 0;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title .tah-info,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title .tah-info {
  background: var(--tah-button-background-color);
  border-radius: 5px;
  color: var(--tah-text-secondary-color);
  font-size: x-small;
  padding: 1px 3px;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title .tah-info:hover,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title .tah-info:hover {
  color: var(--tah-text-hover-secondary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight {
  color: var(--tah-text-tertiary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight:hover,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight:hover {
  color: var(--tah-text-hover-secondary-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-tab-subgroup > .tah-tab-subgroup > .tah-subgroups > .tah-actions,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-tab-subgroup > .tah-tab-subgroup > .tah-subgroups > .tah-actions {
  background: var(--tah-background-color);
  border-radius: var(--tah-border-radius);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-subgroup[data-show-title="false"] > div > .tah-list-subgroup-title > .tah-list-subgroup-title-text,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-subgroup[data-show-title="false"] > div > .tah-list-subgroup-title > .tah-list-subgroup-title-text {
  color: var(--tah-text-disabled-color);
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group > .tah-actions,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup > .tah-actions {
  background: var(--tah-background-color);
  border-radius: var(--tah-border-radius);
  margin-top: 5px;
}
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-group .tah-actions,
#token-action-hud-app.tah-style-docked-left-v13 #token-action-hud .tah-groups .tah-tab-subgroup .tah-actions {
  align-items: center;
  display: grid;
  width: 100%;
}
