:root {
  /* -------------------------------------------- */
  /* Editable                                     */
  /* -------------------------------------------- */
  --tah-button-background-color-editable: #000000b3;
  --tah-button-border-primary-color-editable: #0c0c0cff;
  --tah-button-border-secondary-color-editable: #060606ff;
  --tah-button-height-editable: 32;
  --tah-button-text-color-editable: #ddddddff;
  --tah-button-hover-background-color-editable: #000000b3;
  --tah-button-hover-border-primary-color-editable: #ff6400ff;
  --tah-button-hover-border-secondary-color-editable: #ff0000ff;
  --tah-button-hover-text-color-editable: #ffffffff;
  --tah-button-active-background-color-editable: #3c0078bf;
  --tah-button-active-border-primary-color-editable: #9b8dffff;
  --tah-button-active-border-secondary-color-editable: #9b8dffff;
  --tah-button-active-text-color-editable: #ffffffff;
  --tah-button-toggle-hover-background-color-editable: #3c0078bf;
  --tah-button-toggle-hover-border-primary-color-editable: #9b8dffff;
  --tah-button-toggle-hover-border-secondary-color-editable: #9b8dffff;
  --tah-button-toggle-hover-text-color-editable: #ffffffff;
  --tah-text-disabled-color-editable: #dddddd80;
  --tah-text-primary-color-editable: #ddddddff;
  --tah-text-secondary-color-editable: #dddddd80;
  --tah-text-tertiary-color-editable: #ff6400ff;
  --tah-text-hover-primary-color-editable: #ddddddff;
  --tah-text-hover-secondary-color-editable: #dddddd80;
  --tah-text-hover-tertiary-color-editable: #ff6400ff;
  /* -------------------------------------------- */
  --tah-background-color: #00000000;
  --tah-border-radius: 3px;
  --tah-gap: 5px;
  --tah-button-background: var(--tah-button-background-color);
  --tah-button-background-color: var(--tah-button-background-color-editable);
  --tah-button-border: none;
  --tah-button-box-shadow: 0 2px 0 -1px var(--tah-button-border-primary-color-editable),
    0 0 0 1px var(--tah-button-border-secondary-color-editable),
    0 0 5px #000000ff;
  --tah-button-box-font-weight: normal;
  --tah-button-text-color: var(--tah-button-text-color-editable);
  --tah-button-height: calc(var(--tah-button-height-editable) * 1px);
  --tah-button-min-width: var(--tah-button-height);
  --tah-button-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  --tah-button-hover-background-color: var(--tah-button-background-color);
  --tah-button-hover-border: none;
  --tah-button-hover-box-shadow: 0 2px 0 -1px var(--tah-button-hover-border-primary-color-editable),
    0 0 0 1px var(--tah-button-hover-border-secondary-color-editable),
    0 0 10px var(--tah-button-hover-border-primary-color-editable);
  --tah-button-hover-text-primary-color: var(--tah-button-hover-text-color-editable);
  --tah-button-hover-text-secondary-color: var(--tah-text-hover-secondary-color);
  --tah-button-hover-text-tertiary-color: var(--tah-text-hover-tertiary-color);
  --tah-button-active-background-color: var(--tah-button-active-background-color-editable);
  --tah-button-active-border: none;
  --tah-button-active-box-shadow: 0 0 0 1px var(--tah-button-active-border-primary-color-editable),
    inset 0 0 10px var(--tah-button-active-border-secondary-color-editable);
  --tah-button-active-text-color: var(--tah-button-active-text-color-editable);
  --tah-button-toggle-background-color: var(--tah-button-toggle-active-background-color-editable);
  --tah-button-toggle-hover-background-color: var(--tah-button-toggle-hover-background-color-editable);
  --tah-button-toggle-hover-border: none;
  --tah-button-toggle-hover-box-shadow: 0 0 0 1px var(--tah-button-toggle-hover-border-primary-color-editable),
    0 0 10px var(--tah-button-toggle-hover-border-secondary-color-editable);
  --tah-button-image-background-color: #00000080;
  --tah-button-image-border-radius: var(--tah-border-radius);
  --tah-button-image-height: var(--tah-button-height);
  --tah-button-image-width: var(--tah-button-min-width);
  --tah-icon-color: var(--tah-text-primary-color);
  --tah-icon-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  --tah-icon-hover-color: #ffffff;
  --tah-icon-hover-text-shadow: 0 0 8px var(--color-shadow-primary);
  --tah-text-primary-color: var(--tah-text-primary-color-editable);
  --tah-text-secondary-color: var(--tah-text-secondary-color-editable);
  --tah-text-tertiary-color: var(--tah-text-tertiary-color-editable);
  --tah-character-name-color: var(--tah-text-primary-color-editable);
  --tah-character-name-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
  --tah-list-subgroup-title-icon-color: var(--tah-text-primary-color-editable);
  --tah-list-subgroup-title-hover-icon-color: var(--tah-text-hover-primary-color-editable);
  --tah-subgroups-background: none;
  --tah-text-disabled-color: var(--tah-text-disabled-color-editable);
  --tah-text-hover-primary-color: var(--tah-text-hover-primary-color-editable);
  --tah-text-hover-secondary-color: var(--tah-text-hover-secondary-color-editable);
  --tah-text-hover-tertiary-color: var(--tah-text-hover-tertiary-color-editable);
  --tah-text-shadow: 1px 1px 1px #0b0a13, 1px 1px 1px #0b0a13, 1px 1px 3px #0b0a13, 1px 1px 5px #0b0a13;
}
#token-action-hud {
  border-radius: var(--tah-border-radius);
  display: flex;
  /* -------------------------------------------- */
  /* Button Container                             */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Box Button                                   */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Icon Button                                  */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Groups                                       */
  /* -------------------------------------------- */
}
#token-action-hud .tah-hidden {
  display: none !important;
}
#token-action-hud #tah-character-name {
  color: var(--tah-character-name-color);
  font-size: var(--font-size-16);
  position: absolute;
  text-shadow: var(--tah-character-name-text-shadow);
  top: -22px;
  z-index: 1;
}
#token-action-hud:hover #tah-collapse-expand > #tah-collapse-hud,
#token-action-hud:hover > #tah-buttons {
  display: flex;
}
#token-action-hud #tah-collapse-expand {
  left: -20px;
  position: absolute;
}
#token-action-hud #tah-collapse-expand #tah-collapse-hud {
  align-items: center;
  display: none;
  height: var(--tah-button-height);
  position: relative;
  z-index: 1;
}
#token-action-hud #tah-collapse-expand #tah-expand-hud {
  background: var(--tah-button-background);
  justify-content: center;
  min-width: auto;
  padding: 0 5px;
}
#token-action-hud #tah-collapse-expand button > i {
  font-size: var(--font-size-16);
}
#token-action-hud #tah-buttons {
  align-items: center;
  display: none;
  font-style: normal;
  font-weight: normal;
  height: var(--tah-button-height);
  position: relative;
  z-index: 1;
}
#token-action-hud .tah-button-box {
  align-items: center;
  background-color: var(--tah-button-background-color);
  border: var(--tah-button-border);
  border-radius: var(--tah-border-radius);
  box-shadow: var(--tah-button-box-shadow);
  color: var(--tah-button-text-color);
  display: flex;
  font-size: var(--font-size-13);
  font-weight: var(--tah-button-box-font-weight);
  height: var(--tah-button-height);
  margin: 0;
  min-width: var(--tah-button-min-width);
  padding: 0;
  position: relative;
  text-shadow: var(--tah-button-text-shadow);
  /* -------------------------------------------- */
  /* Disabled Button                              */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* Toggleable Button                            */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /*  Edit Group Icon                             */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
#token-action-hud .tah-button-box.tah-group-button {
  background: var(--tah-button-background);
}
#token-action-hud .tah-button-box:not(.disabled):active,
#token-action-hud .tah-button-box:not(.disabled):hover {
  background-color: var(--tah-button-hover-background-color);
  border: var(--tah-button-hover-border);
  box-shadow: var(--tah-button-hover-box-shadow);
  color: var(--tah-button-hover-text-primary-color);
}
#token-action-hud .tah-button-box:not(.disabled):active .tah-info,
#token-action-hud .tah-button-box:not(.disabled):hover .tah-info {
  color: var(--tah-button-hover-text-secondary-color);
}
#token-action-hud .tah-button-box:not(.disabled):active .tah-info.tah-spotlight,
#token-action-hud .tah-button-box:not(.disabled):hover .tah-info.tah-spotlight {
  color: var(--tah-button-hover-text-tertiary-color);
}
#token-action-hud .tah-button-box.disabled {
  color: var(--tah-text-disabled-color);
}
#token-action-hud .tah-button-box.disabled:hover {
  box-shadow: var(--tah-button-box-shadow);
}
#token-action-hud .tah-button-box.toggle:not(.disabled):hover {
  background: var(--tah-button-toggle-hover-background-color);
  border: var(--tah-button-toggle-hover-border);
  box-shadow: var(--tah-button-toggle-hover-box-shadow);
}
#token-action-hud .tah-button-box.active {
  background: var(--tah-button-active-background-color);
  border: var(--tah-button-active-border);
  box-shadow: var(--tah-button-active-box-shadow);
  color: var(--tah-button-active-text-color);
}
#token-action-hud .tah-button-box.active.activeText > .tah-action-button-content:after {
  content: "*";
}
#token-action-hud .tah-button-box.shrink {
  min-width: min-content;
}
#token-action-hud .tah-button-box .tah-button-image {
  background-color: var(--tah-button-image-background-color) !important;
  border-radius: var(--tah-button-image-border-radius);
  height: var(--tah-button-image-height);
  min-width: var(--tah-button-image-width);
  width: var(--tah-button-image-width);
}
#token-action-hud .tah-button-box .tah-button-content {
  display: flex;
  gap: var(--tah-gap);
  overflow: hidden;
  padding: 0 10px;
  width: 100%;
}
#token-action-hud .tah-button-box .tah-button-content:empty {
  display: none;
}
#token-action-hud .tah-button-box .tah-button-text {
  overflow: hidden;
  padding: 0;
  padding-right: 1px;
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
}
#token-action-hud .tah-button-box .tah-icon > i {
  font-size: x-small;
  margin: 0px 2px 0px 0px;
  text-shadow: var(--tah-button-text-shadow);
}
#token-action-hud .tah-button-box .tah-info {
  color: var(--tah-text-secondary-color);
  font-size: x-small;
}
#token-action-hud .tah-button-box .tah-info.tah-spotlight {
  color: var(--tah-text-tertiary-color);
}
#token-action-hud .tah-button-box > .tah-edit-group-icon {
  font-size: 8px;
  position: absolute;
  right: 0px;
  top: 2px;
  visibility: hidden;
}
#token-action-hud .tah-button-box:hover:not(.disable-edit) > .tah-edit-group-icon {
  visibility: visible;
}
#token-action-hud .tah-button-icon {
  background: transparent;
  border: 0;
  line-height: unset;
  margin: 0;
  padding: 0;
}
#token-action-hud .tah-button-icon:hover,
#token-action-hud .tah-button-icon:focus {
  box-shadow: none;
}
#token-action-hud .tah-button-icon:hover > i,
#token-action-hud .tah-button-icon:focus > i {
  color: var(--tah-icon-hover-color);
  text-shadow: var(--tah-icon-hover-text-shadow);
}
#token-action-hud .tah-button-icon > i {
  color: var(--tah-icon-color);
  font-size: var(--font-size-12);
  margin: 3px;
  padding: 3px;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-shadow: var(--tah-icon-text-shadow);
}
#token-action-hud .tah-groups {
  display: flex;
  filter: none;
  gap: var(--tah-gap);
  /* -------------------------------------------- */
  /* Actions                                      */
  /* -------------------------------------------- */
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container > .tah-subgroups {
  background: var(--tah-subgroups-background);
  left: -10px;
}
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container > .tah-subgroups {
  left: -10px;
}
#token-action-hud .tah-groups .tah-tab-groups {
  width: max-content;
}
#token-action-hud .tah-groups .tah-tab-groups > .tah-tab-subgroup > .tah-subgroups > .tah-actions {
  background: var(--tah-background-color);
  border-radius: var(--tah-border-radius);
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container > .tah-subgroups,
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container > .tah-subgroups {
  background: var(--tah-subgroups-background);
  border-radius: var(--tah-border-radius);
  flex-direction: column;
  position: relative;
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-down,
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-down {
  top: calc(100% - 10px);
  padding-top: 13px;
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-down > .tah-subgroups,
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-down > .tah-subgroups {
  padding: 3px 10px 10px 10px;
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-up,
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-up {
  bottom: calc(100% - 7px);
  flex-direction: column-reverse;
  padding-bottom: 10px;
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-up > .tah-subgroups,
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-up > .tah-subgroups {
  padding: 10px 10px 3px 10px;
}
#token-action-hud .tah-groups .tah-tab-group > .tah-subgroups-container.expand-up > .tah-subgroups > .tah-list-subgroups,
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-subgroups-container.expand-up > .tah-subgroups > .tah-list-subgroups {
  flex-direction: column-reverse;
}
#token-action-hud .tah-groups .tah-tab-group.hover > .tah-subgroups-container,
#token-action-hud .tah-groups .tah-tab-subgroup.hover > .tah-subgroups-container {
  display: flex;
}
#token-action-hud .tah-groups .tah-tab-group.hover > .tah-subgroups-container > .tah-subgroups,
#token-action-hud .tah-groups .tah-tab-subgroup.hover > .tah-subgroups-container > .tah-subgroups {
  display: flex;
}
#token-action-hud .tah-groups .tah-subgroups-container {
  display: none;
  position: absolute;
}
#token-action-hud .tah-groups .tah-subgroups {
  display: flex;
  flex-direction: column;
  gap: var(--tah-gap);
  width: max-content;
}
#token-action-hud .tah-groups .tah-subgroups.expand-down {
  flex-direction: column;
}
#token-action-hud .tah-groups .tah-list-subgroups {
  background: var(--tah-background-color);
  border-radius: var(--tah-border-radius);
  flex-direction: column;
  display: flex;
  gap: var(--tah-gap);
}
#token-action-hud .tah-groups .tah-list-subgroups .tah-list-subgroups {
  background: none;
}
#token-action-hud .tah-groups .tah-tab-subgroups {
  display: flex;
  gap: var(--tah-gap);
  position: relative;
}
#token-action-hud .tah-groups .tah-list-subgroup {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title {
  align-items: center;
  color: var(--tah-text-primary-color);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--tah-font-size-10);
  gap: var(--tah-gap);
  letter-spacing: 0.1em;
  line-height: 1;
  text-shadow: var(--tah-text-shadow);
  text-transform: uppercase;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover {
  color: var(--tah-text-hover-primary-color);
  cursor: pointer;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-collapse-icon:not(.tah-hidden),
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover > .tah-expand-icon:not(.tah-hidden) {
  visibility: visible;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover:not(.disable-edit) > .tah-edit-icon {
  visibility: visible;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title:hover > i {
  color: var(--tah-list-subgroup-title-hover-icon-color);
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title > i {
  color: var(--tah-list-subgroup-title-icon-color);
  font-size: 8px;
  pointer-events: none;
  position: relative;
  visibility: hidden;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title > i.tah-collapse-icon {
  bottom: 1px;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info {
  background: var(--tah-button-background-color);
  border-radius: 5px;
  color: var(--tah-text-secondary-color);
  font-size: x-small;
  padding: 1px 3px;
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info:hover {
  color: var(--tah-text-hover-secondary-color);
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight {
  color: var(--tah-text-tertiary-color);
}
#token-action-hud .tah-groups .tah-list-subgroup .tah-list-subgroup-title .tah-info.tah-spotlight:hover {
  color: var(--tah-text-hover-secondary-color);
}
#token-action-hud .tah-groups .tah-tab-subgroup > .tah-tab-subgroup > .tah-subgroups > .tah-actions {
  background: var(--tah-background-color);
  border-radius: var(--tah-border-radius);
}
#token-action-hud .tah-groups.tah-unlocked .tah-subgroup > .tah-list-subgroup > .tah-subgroups > .tah-list-subgroups {
  padding-left: 10px;
}
#token-action-hud .tah-groups .tah-subgroup[data-show-title="false"] > .tah-list-subgroup > .tah-subgroups > .tah-list-subgroups > .tah-subgroup:not([data-show-title="false"]) {
  padding-left: 0px;
}
#token-action-hud .tah-groups .tah-subgroup[data-show-title="false"] > div > .tah-list-subgroup-title > .tah-list-subgroup-title-text {
  color: var(--tah-text-disabled-color);
}
#token-action-hud .tah-groups .tah-subgroup:not([data-show-title="false"])[data-has-image="false"] > .tah-list-subgroup > .tah-subgroups > .tah-list-subgroups > .tah-subgroup:not([data-show-title="false"])[data-has-image="false"] {
  padding-left: 10px;
}
#token-action-hud .tah-groups > .tah-actions {
  margin-top: 5px;
}
#token-action-hud .tah-groups .tah-actions {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: var(--tah-gap);
  width: 100%;
}
