:root {
    --tah-background-color: #000000;
    --tah-border-radius: 3px;
    --tah-text-primary-color: #ffff00;
    --tah-text-hover-primary-color: var(--tah-text-primary-color);
    --tah-text-secondary-color: #ffff00;
    --tah-text-secondary-color-active: var(
        --tah-button-background-color-editable
    );
    --tah-text-hover-secondary-color: var(
        --tah-button-background-color-editable
    );
    --tah-text-tertiary-color: #0c7bdc;
    --tah-text-tertiary-color-active: var(
        --tah-button-background-color-editable
    );
    --tah-text-hover-tertiary-color: var(
        --tah-button-background-color-editable
    );
    --tah-gap: 7px;
    --tah-icon-color-disabled: var(--tah-text-primary-color);
    --tah-text-shadow: none;
    --tah-button-background-color-editable: #000000;
    --tah-button-box-shadow: 0 0 0 2px var(--tah-text-primary-color);
    --tah-button-text-color: var(--tah-text-primary-color);
    --tah-button-disabled-text-color: var(--tah-text-primary-color);
    --tah-button-height: 32px;
    --tah-button-min-width: 32px;
    --tah-button-hover-background-color: var(--tah-text-primary-color);
    --tah-button-hover-box-shadow: 0 0 0 2px
        var(--tah-button-background-color-editable);
    --tah-button-hover-text-color: var(--tah-button-background-color-editable);
    --tah-button-active-background-color: var(--tah-text-tertiary-color);
    --tah-button-active-border-color: var(
        --tah-button-background-color-editable
    );
    --tah-button-active-color: var(--tah-button-background-color-editable);
    --tah-button-active-box-shadow: 0 0 0 2px
        var(--tah-button-background-color-editable);
    --tah-button-toggle-background-color: var(
        --tah-button-background-color-editable
    );
    --tah-button-toggle-hover-background-color: var(--tah-text-primary-color);
    --tah-button-toggle-hover-box-shadow: 0 0 0 2px
        var(--tah-button-background-color-editable);
}

#token-action-hud {
    align-items: center;
    border-radius: var(--tah-border-radius);
    display: flex;
    flex-direction: row;
    height: auto;
    left: 150px;
    position: fixed;
    top: 80px;
    width: auto;
    z-index: 100;
}

#token-action-hud [class*="icon-"] {
    display: inline-block;
    width: 100%;
}

#tah-character-name {
    background: var(--tah-button-background-color-editable);
    border-radius: var(--tah-border-radius);
    color: var(--tah-text-primary-color);
    font-size: var(--font-size-16);
    letter-spacing: 0.05em;
    margin: 0px;
    padding: 1px 2px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-shadow: var(--tah-text-shadow);
    top: -26px !important;
}

.tah-hidden {
    display: none !important;
}

#token-action-hud:hover #tah-collapse-hud,
#token-action-hud:hover > #tah-buttons {
    display: flex;
}

#tah-collapse-hud,
#tah-buttons {
    align-items: center;
    display: none;
    font-style: normal;
    font-weight: normal;
    height: var(--tah-button-height);
    position: relative;
    z-index: 1;
}

#tah-collapse-expand {
    font-style: normal;
    font-weight: normal;
    left: -20px;
    position: absolute;
}

#tah-buttons {
    gap: var(--tah-gap);
    left: 6px;
}

#tah-lock,
#tah-unlock {
    position: relative;
}

#tah-collapse-hud {
    left: -6px;
    position: relative;
}

#tah-collapse-expand button > :is(.fa, .fas),
#tah-buttons button > :is(.fa, .fas) {
    color: var(--tah-text-primary-color);
    margin: 3px;
    padding: 3px;
    pointer-events: none;
    position: relative;
    text-align: center;
    text-shadow: var(--tah-text-shadow);
}

#tah-collapse-expand button > :is(.fa, .fas) {
    font-size: small;
}

#tah-expand-hud {
    left: -8px;
    top: 16px;
}

#tah-collapse-hud,
#tah-expand-hud,
#tah-buttons button,
.tah-action-button,
.tah-group-button {
    align-items: center;
    background-color: var(--tah-button-background-color-editable);
    border: var(--tah-button-border-color);
    border-radius: var(--tah-border-radius);
    box-shadow: var(--tah-button-box-shadow);
    color: var(--tah-button-text-color);
    font-weight: bold;
    height: var(--tah-button-height);
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: var(--tah-text-shadow);
    transition: all 0.1s ease-in-out 0s;
    white-space: nowrap;
    z-index: 1;
}

#tah-expand-hud,
.tah-action-button,
.tah-group-button {
    display: flex;
}

.tah-action-button,
.tah-group-button {
    border-width: 1px;
    letter-spacing: 0.05em;
    min-width: var(--tah-button-min-width);
}

#tah-collapse-hud:hover,
#tah-expand-hud:hover,
#tah-buttons button:hover,
.tah-action-button:active,
.tah-action-button:not(.disabled):hover,
.tah-group-button:not(.disabled):hover {
    background-color: var(--tah-button-hover-background-color);
    box-shadow: var(--tah-button-hover-box-shadow);
    color: var(--tah-color-hover-primary);
}

#tah-collapse-hud:hover > :is(.fa, .fas),
#tah-expand-hud:hover > :is(.fa, .fas),
#tah-buttons button:hover > :is(.fa, .fas) {
    color: var(--tah-color-hover-primary);
    text-shadow: var(--tah-text-shadow);
}

.tah-action-button.active,
.tah-action.button.active.disabled:hover {
    background: var(--tah-button-active-background-color);
    box-shadow: var(--tah-button-active-box-shadow);
    color: var(--tah-button-active-color);
}

.tah-action-button.active.activeText > .tah-action-button-content:after {
    content: "*";
}

.tah-action-button.disabled {
    color: var(--tah-button-disabled-text-color);
}

.tah-action-button.disabled:hover {
    box-shadow: var(--tah-button-box-shadow);
}

.tah-action-button.shrink {
    min-width: min-content;
}

.tah-action-button.toggle:not(.disabled):hover {
    background: var(--tah-button-toggle-hover-background-color);
    box-shadow: var(--tah-button-toggle-hover-box-shadow);
}

.tah-group-button > :is(.fa, .fas) {
    font-size: 8px;
    position: absolute;
    right: 0px;
    top: 2px;
    visibility: hidden;
}

.tah-group-button:hover:not(.disable-edit)
    > :is(.fa, .fas) {
    visibility: visible;
}

.tah-button-content:empty {
    display: none;
}

.tah-button-content {
    align-items: center;
    display: flex;
    gap: var(--tah-gap);
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
}

.tah-button-text {
    padding: 0;
}

.tah-action-button-content {
    align-items: center;
    display: flex;
    gap: var(--tah-gap);
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
}

.tah-action-button-text {
    letter-spacing: 0.1em;
    overflow: hidden;
    padding-right: 1px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
}

#tah-collapse-expand:hover button > i,
#tah-buttons button:hover > i {
    color: var(--tah-text-hover-primary-color);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

#tah-edit-hud > :is(.fa, .fas) {
    font-size: var(--font-size-16);
}

#tah-groups,
.tah-tab-groups {
    display: flex;
    gap: var(--tah-gap);
    position: relative;
}

.tah-tab-groups {
    padding: 5px 0 5px 0;
    width: max-content;
}

.tah-tab-group,
.tah-group {
    display: flex;
    position: relative;
}

.tah-groups-container {
    display: none;
    position: absolute;
}

.tah-tab-group.hover > .tah-groups-container,
.tah-tab-group.hover > .tah-groups-container > .tah-groups {
    display: flex;
}

.tah-tab-group > .tah-groups-container.expand-down > .tah-groups {
    flex-direction: column;
    left: -10px;
    padding: 3px 10px 10px 10px;
    position: relative;
}

.tah-tab-group > .tah-groups-container.expand-up > .tah-groups {
    flex-direction: column;
    left: -10px;
    padding: 10px 10px 3px 10px;
    position: relative;
}

#tah-groups > .tah-tab-group > .tah-groups-container.expand-up > .tah-groups {
    flex-direction: column-reverse;
}

.tah-tab-group > .tah-groups-container.expand-down {
    top: calc(100% - 7px);
    padding-top: 10px;
}

.tah-tab-group > .tah-groups-container.expand-up {
    bottom: calc(100% + 3px + -10px);
    flex-direction: column-reverse;
    padding-bottom: 10px;
}

.tah-tab-group
    > .tah-groups-container.expand-up
    > .tah-groups
    > .tah-list-groups {
    flex-direction: column-reverse;
}

.tah-list-groups,
.tah-tab-groups > .tah-tab-group > .tah-groups > .tah-actions {
    background: var(--tah-background-color);
    border-radius: var(--tah-border-radius);
}

.tah-list-groups {
    flex-direction: column;
    display: flex;
    gap: var(--tah-gap);
}

.tah-list-groups .tah-list-groups {
    background: none;
}

.tah-list-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.tah-groups {
    display: flex;
    flex-direction: column;
    gap: var(--tah-gap);
    width: max-content;
}

.tah-groups.expand-down {
    flex-direction: column;
}

#tah-groups.tah-unlocked
    .tah-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group {
    padding-left: 10px;
}

.tah-group[data-show-title="false"]
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group:not([data-show-title="false"]) {
    padding-left: 0px;
}

.tah-group:not([data-show-title="false"])[data-has-image="false"]
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group:not([data-show-title="false"])[data-has-image="false"] {
    padding-left: 10px;
}

.tah-unlocked
    .tah-group
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group {
    padding-left: 10px;
}

.tah-subtitle {
    align-items: center;
    color: var(--tah-text-primary-color);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-12);
    gap: var(--tah-gap);
    letter-spacing: 0.1em;
    text-shadow: var(--tah-text-shadow);
    width: max-content;
}

.tah-subtitle:hover {
    background-color: var(--tah-button-background-color-editable);
    border-radius: var(--tah-border-radius);
    color: var(--tah-text-hover-primary-color);
    cursor: pointer;
}

.tah-subtitle-text {
    border-radius: var(--tah-border-radius);
    color: var(--tah-text-primary-color);
    font-weight: bold;
    padding: 3px;
}

.tah-subtitle-text:not(:hover) {
    background: var(--tah-button-background-color-editable);
}

.tah-group[data-show-title="false"] > div > .tah-subtitle > .tah-subtitle-text {
    color: var(--tah-text-disabled-color);
}

.tah-subtitle > :is(.tah-edit-icon, .tah-collapse-icon, .tah-expand-icon) {
    border-radius: var(--tah-border-radius);
    bottom: 1px;
    font-size: 10px;
    pointer-events: none;
    position: relative;
    visibility: hidden;
}

.tah-subtitle:hover
    > :is(
        .tah-collapse-icon:not(.tah-hidden),
        .tah-expand-icon:not(.tah-hidden)
    ),
.tah-subtitle:hover:not(.disable-edit) > .tah-edit-icon {
    visibility: visible;
}

.tah-tab-group > .tah-actions {
    margin-top: 5px;
}

.tah-actions {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--tah-gap);
    width: 100%;
}

.tah-info1,
.tah-info2,
.tah-info3 {
    color: var(--tah-text-secondary-color);
    font-size: small;
}

.tah-action-button:hover :is(.tah-info1, .tah-info2, .tah-info3) {
    color: var(--tah-text-hover-secondary-color);
}

.tah-action-button.active :is(.tah-info1, .tah-info2, .tah-info3) {
    color: var(--tah-text-secondary-color-active);
}

.tah-info1.tah-spotlight,
.tah-info2.tah-spotlight,
.tah-info3.tah-spotlight {
    color: var(--tah-text-tertiary-color);
}

.tah-action-button.active .tah-info1.tah-spotlight,
.tah-action-button.active .tah-info2.tah-spotlight,
.tah-action-button.active .tah-info3.tah-spotlight {
    color: var(--tah-text-tertiary-color-active);
}

.tah-action.active
    button
    :is(
        .tah-info1.tah-spotlight,
        .tah-info2.tah-spotlight,
        .tah-info3.tah-spotlight
    ) {
    color: var(--tah-text-tertiary-color-active);
}

.tah-action-button:hover
    :is(
        .tah-info1.tah-spotlight,
        .tah-info2.tah-spotlight,
        .tah-info3.tah-spotlight
    ) {
    color: var(--tah-text-hover-tertiary-color);
}

.tah-subtitle > :is(.tah-info1, .tah-info2, .tah-info3) {
    background: var(--tah-button-background-color-editable);
    border-radius: 5px;
    margin: 1px;
    padding: 1px 3px;
}

.tah-button-image-wrapper {
    background: var(--tah-button-background-color-editable);
    border-radius: var(--tah-border-radius);
}

.tah-button-image {
    border: none;
    border-radius: var(--tah-border-radius);
    height: var(--tah-button-height);
    min-width: var(--tah-button-min-width);
    width: var(--tah-button-min-width);
}

.tah-list-image {
    border: none;
    border-radius: var(--tah-border-radius);
    box-shadow: var(--tah-button-box-shadow);
    height: var(--tah-button-height);
    margin-right: 5px;
    min-width: var(--tah-button-min-width);
    width: var(--tah-button-min-width);
}

.tah-icon > :is(.fa, .fas) {
    font-size: x-small;
    margin: 0px 2px 0px 0px;
}

.tah-icon-disabled {
    color: var(--tah-icon-color-disabled);
}

.tah-subtitle > .tah-icon > :is(.fa, .fas) {
    text-shadow: var(--tah-text-shadow);
}
