:root {
    --tah-background-color: none;
    --tah-border-radius: 3px;
    --tah-gap: 5px;
  
    --tah-button-background-color: var(--dorako-bg-current);
    --tah-button-border-color: none;
    --tah-button-box-shadow: var(--glassy);
    --tah-button-text-color: var(--tah-text-primary-color);
    --tah-button-disabled-text-color: #dddddd80;
    --tah-button-height: 30px;
    --tah-button-min-width: 30px;
    --tah-button-hover-box-shadow: var(--glassy);
    --tah-button-hover-text-color: var(--tah-text-hover-primary-color);
    --tah-text-primary-color: #ddd;
    --tah-text-hover-primary-color: #fff;
    --tah-text-shadow: var(--dorako-text-shadow);

    --dorako-bg-glass: rgba(120, 120, 120, 0.5);
    --dorako-sheet-light: rgba(20, 20, 20, 0.6);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    --dorako-bg-current: var(--dorako-sheet-light);
    --blind-bg: #a57aa5;
    --whisper-bg: #e3e3ff;
    --dorako-vibrancy: none;
    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b,
        inset 0 0 3px rgba(255, 255, 255, 0.5);
    --glassy: 0px 0px 2px rgba(255, 255, 255, 0.4) inset,
        0px 0px 6px rgba(255, 255, 255, 0.2) inset, 1px 1px 1px rgba(0, 0, 0, 1),
        1px -1px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(0, 0, 0, 1),
        -1px 1px 1px rgba(0, 0, 0, 1), 0px 0px 3px rgba(0, 0, 0, 1),
        0px 0px 4px rgba(0, 0, 0, 0.5);
    --primary-hue: 0;
    --primary-sat: 100%;
    --primary-lvl: 18%;
    --secondary-hue: 234;
    --secondary-sat: 64%;
    --secondary-lvl: 25%;
    --paizo-red-dark: hsl(
        var(--primary-hue),
        var(--primary-sat),
        calc(var(--primary-lvl) - 10%)
    );
    --paizo-red: hsl(
        var(--primary-hue),
        var(--primary-sat),
        var(--primary-lvl)
    );
    --paizo-red-bright: hsl(
        var(--primary-hue),
        var(--primary-sat),
        calc(var(--primary-lvl) + 10%)
    );
    --paizo-blue-dark: hsl(
        var(--secondary-hue),
        var(--secondary-sat),
        calc(var(--secondary-lvl) - 10%)
    );
    --paizo-blue: hsl(
        var(--secondary-hue),
        var(--secondary-sat),
        var(--secondary-lvl)
    );
    --paizo-blue-bright: hsl(
        var(--secondary-hue),
        var(--secondary-sat),
        calc(var(--secondary-lvl) + 10%)
    );
    --color-shadow-highlight: var(--paizo-red);
    --color-shadow-primary: var(--paizo-blue);
    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;
    --tah-icon-color-disabled: #dddddd80;
    --tah-text-shadow: 1px 1px 1px rgba(52, 52, 52, 1),
        1px 1px 1px rgba(52, 52, 52, 1), 1px 1px 1px rgba(52, 52, 52, 1),
        1px 1px 1px rgba(52, 52, 52, 1);
    --border-width: 1px;
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0em 0em 0em 0em;
    --edge-margin: 5px;
}

#token-action-hud {
    align-items: center;
    border-radius: var(--tah-border-radius);
    display: flex;
    flex-direction: row;
    height: auto;
    left: 150px;
    position: fixed;
    top: 80px;
    width: auto;
    z-index: 100;
}

#token-action-hud [class*="icon-"] {
    display: inline-block;
    width: 100%;
}

#tah-character-name {
    color: var(--tah-text-primary-color);
    font-size: var(--font-size-16);
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-shadow: var(--tah-text-shadow);
    top: -22px !important;
}

.tah-hidden {
    display: none !important;
}

#token-action-hud:hover #tah-collapse-hud,
#token-action-hud:hover > #tah-buttons {
    display: flex;
}

#tah-collapse-hud,
#tah-buttons {
    align-items: center;
    display: none;
    font-style: normal;
    font-weight: normal;
    height: var(--tah-button-height);
    position: relative;
    z-index: 1;
}

#tah-collapse-expand {
    font-style: normal;
    font-weight: normal;
    left: -16px;
    position: absolute;
}

#tah-collapse-hud,
#tah-buttons button {
    background: transparent;
    border: 0;
    line-height: unset;
    margin: 0;
    padding: 0;
}

#tah-collapse-hud:hover,
#tah-collapse-hud:focus,
#tah-buttons button:hover,
#tah-buttons button:focus {
    box-shadow: none;
}

#tah-collapse-expand button > :is(.fa, .fas),
#tah-buttons button > :is(.fa, .fas) {
    color: var(--tah-text-primary-color);
    margin: 3px;
    padding: 3px;
    pointer-events: none;
    position: relative;
    text-align: center;
    text-shadow: var(--tah-text-shadow);
}

#tah-collapse-expand button > :is(.fa, .fas) {
    font-size: medium;
}

#tah-collapse-hud {
    left: -3px;
}

#tah-expand-hud {
    left: -3px;
    top: 14px;
}

#tah-expand-hud,
#tah-expand-hud:focus,
.tah-action-button,
.tah-action-button:focus,
.tah-group-button,
.tah-group-button:focus {
    align-items: center;
    backdrop-filter: var(--dorako-vibrancy);
    background-color: var(--tah-button-background-color);
    border: var(--tah-button-border-color);
    border-radius: var(--tah-border-radius);
    box-shadow: var(--tah-button-box-shadow);
    color: var(--tah-button-text-color);
    display: flex;
    height: var(--tah-button-height);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: var(--tah-text-shadow);
    transition: all 0.1s ease-in-out 0s;
    white-space: nowrap;
    z-index: 1;
}

.tah-action-button,
.tah-group-button {
    min-width: var(--tah-button-min-width);
}

#tah-expand-hud:hover,
.tah-action-button:active,
.tah-action-button:not(.disabled):hover,
.tah-group-button:not(.disabled):hover {
    background-color: var(--paizo-red);
    border: var(--tah-button-border-color);
    box-shadow: var(--tah-button-hover-box-shadow);
    color: var(--tah-button-hover-text-color);
    font-weight: inherit;
    transition: background-color 0.15s ease-out 0s;
}

.tah-action-button.active,
.tah-action.button.active.disabled:hover {
    background-color: var(--paizo-blue) !important;
}

.tah-action-button.active.activeText > .tah-action-button-content:after {
    content: "*";
}

.tah-action-button.disabled {
    color: var(--tah-button-disabled-text-color);
}

.tah-action-button.disabled:hover {
    box-shadow: var(--tah-button-box-shadow);
}

.tah-action-button .tah-button-image {
    border: none;
    box-shadow: 0 0 0 1px var(--tertiary);
}

.tah-action-button.shrink {
    min-width: min-content;
}

.tah-action-button.toggle:not(.disabled):hover {
    background-color: var(--paizo-blue);
    border: none;
    box-shadow: var(--tah-button-box-shadow);
    transition: background-color 0.15s ease-out 0s;
}

.tah-group-button > :is(.fa, .fas) {
    font-size: 8px;
    position: absolute;
    right: 0px;
    top: 2px;
    visibility: hidden;
}

.tah-group-button:hover:not(.disable-edit)
    > :is(.fa, .fas) {
    visibility: visible;
}

.tah-button-content:empty {
    display: none;
}

.tah-button-content {
    align-items: center;
    display: flex;
    gap: var(--tah-gap);
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
}

.tah-button-text {
    padding: 0;
}

.tah-action-button-content {
    align-items: center;
    display: flex;
    gap: var(--tah-gap);
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
}

.tah-action-button-text {
    overflow: hidden;
    padding-right: 1px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
}

#tah-collapse-expand:hover button > i,
#tah-buttons button:hover > i {
    color: var(--tah-text-hover-primary-color);
}

#tah-edit-hud > :is(.fa, .fas) {
    font-size: var(--font-size-16);
}

#tah-groups,
.tah-tab-groups {
    display: flex;
    gap: var(--tah-gap);
    position: relative;
}

.tah-tab-groups {
    width: max-content;
}

.tah-tab-group,
.tah-group {
    display: flex;
    position: relative;
}

.tah-groups-container {
    display: none;
    position: absolute;
}

.tah-tab-group.hover > .tah-groups-container,
.tah-tab-group.hover > .tah-groups-container > .tah-groups {
    display: flex;
}

.tah-tab-group > .tah-groups-container.expand-down > .tah-groups {
    flex-direction: column;
    left: -10px;
    padding: 3px 10px 10px 10px;
    position: relative;
}

.tah-tab-group > .tah-groups-container.expand-up > .tah-groups {
    flex-direction: column;
    left: -10px;
    padding: 10px 10px 3px 10px;
    position: relative;
}

#tah-groups > .tah-tab-group > .tah-groups-container.expand-up > .tah-groups {
    flex-direction: column-reverse;
}

.tah-tab-group > .tah-groups-container.expand-down {
    top: calc(100% - 7px);
    padding-top: 10px;
}

.tah-tab-group > .tah-groups-container.expand-up {
    bottom: calc(100% + 3px + -10px);
    flex-direction: column-reverse;
    padding-bottom: 10px;
}

.tah-tab-group
    > .tah-groups-container.expand-up
    > .tah-groups
    > .tah-list-groups {
    flex-direction: column-reverse;
}

.tah-list-groups,
.tah-tab-groups > .tah-tab-group > .tah-groups > .tah-actions {
    background: var(--tah-background-color);
    border-radius: var(--tah-border-radius);
}

.tah-list-groups {
    flex-direction: column;
    display: flex;
    gap: var(--tah-gap);
}

.tah-list-groups .tah-list-groups {
    background: none;
}

.tah-list-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tah-groups {
    display: flex;
    flex-direction: column;
    gap: var(--tah-gap);
    width: max-content;
}

.tah-groups.expand-down {
    flex-direction: column;
}

#tah-groups.tah-unlocked
    .tah-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group {
    padding-left: 10px;
}

.tah-group[data-show-title="false"]
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group:not([data-show-title="false"]) {
    padding-left: 0px;
}

.tah-group:not([data-show-title="false"])[data-has-image="false"]
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group:not([data-show-title="false"])[data-has-image="false"] {
    padding-left: 10px;
}

.tah-unlocked
    .tah-group
    > .tah-list-group
    > .tah-groups
    > .tah-list-groups
    > .tah-group {
    padding-left: 10px;
}

.tah-subtitle {
    align-items: center;
    color: var(--tah-text-primary-color);
    display: flex;
    flex-wrap: wrap;
    gap: var(--tah-gap);
    line-height: 1;
    text-shadow: var(--tah-text-shadow);
}

.tah-subtitle:hover {
    color: var(--tah-text-hover-primary-color);
    cursor: pointer;
}

.tah-subtitle-text {
    color: var(--tah-text-primary-color);
}

.tah-group[data-show-title="false"] > div > .tah-subtitle > .tah-subtitle-text {
    color: var(--tah-text-disabled-color);
}

.tah-subtitle > :is(.tah-edit-icon, .tah-collapse-icon, .tah-expand-icon) {
    bottom: 1px;
    font-size: 8px;
    pointer-events: none;
    position: relative;
    visibility: hidden;
}

.tah-subtitle:hover
    > :is(
        .tah-collapse-icon:not(.tah-hidden),
        .tah-expand-icon:not(.tah-hidden)
    ),
.tah-subtitle:hover:not(.disable-edit) > .tah-edit-icon {
    visibility: visible;
}

.tah-tab-group > .tah-actions {
    margin-top: 5px;
}

.tah-actions {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--tah-gap);
    width: 100%;
}

.tah-info1,
.tah-info2,
.tah-info3 {
    color: var(--tah-text-secondary-color);
    font-size: xx-small;
}

.tah-info1.tah-spotlight,
.tah-info2.tah-spotlight,
.tah-info3.tah-spotlight {
    color: var(--tah-text-tertiary-color);
}

.tah-subtitle > :is(.tah-info1, .tah-info2, .tah-info3) {
    background: var(--tah-button-background-color);
    border-radius: 5px;
    margin: 1px;
    padding: 1px 3px;
}

.tah-button-image {
    border-radius: var(--tah-border-radius);
    height: calc(var(--tah-button-height) - 2px);
    min-width: var(--tah-button-min-width);
    width: var(--tah-button-min-width);
}

.tah-list-image {
    border: none;
    border-radius: var(--tah-border-radius);
    box-shadow: var(--tah-button-box-shadow);
    height: var(--tah-button-height);
    margin-right: 5px;
    min-width: var(--tah-button-min-width);
    width: var(--tah-button-min-width);
}

.tah-icon > :is(.fa, .fas) {
    font-size: x-small;
    margin: 0px 2px 0px 0px;
}

.tah-icon-disabled {
    color: var(--tah-icon-color-disabled);
}

.tah-subtitle > .tah-icon > :is(.fa, .fas) {
    text-shadow: rgb(255, 255, 255) 0px 0px 1px, rgb(52, 52, 52) 1px 1px 1px,
        rgb(52, 52, 52) 1px 1px 1px, rgb(52, 52, 52) 1px 1px 1px,
        rgb(52, 52, 52) 1px 1px 1px;
}
