:root {
    --tah-font-size-10: 0.65rem;
}

/*
 * DIALOGS
 */

.token-action-hud-taginput {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#tah-dialog-clear-tags {
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid var(--color-border-light-primary);
    margin-top: 2px;
}

#tah-dialog-reset-actions {
    margin-top: 2px;
}

.window-app.tah-dialog .window-content {
    padding: 0;
}

.tah-dialog .window-content > div {
    height: 100%;
    flex-wrap: nowrap;
}

.tah-dialog .categories {
    height: 100%;
}

.tah-dialog .categories .scrollable {
    flex: 1;
    overflow: hidden auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.tah-dialog .categories footer {
    margin: 0.5rem;
    flex: 0;
}

.tah-radio-group {
    text-align: right;
}

.tah-fieldset {
    border: 2px groove #ffffff;
    padding: 3px;
}

.tah-fieldset > legend {
    color: #6f6f6f;
    text-shadow: 1px 1px 1px #ffffff;
}

.tah-scrollable {
    flex: 1;
    overflow: hidden auto;
    padding: 1rem;
}

#tooltip.tah-tooltip,
#tooltip.active:has(.tah-tooltip-wrapper) {
    font-size: var(--font-size-14);
}

#tooltip.active.tah-tooltip,
#tooltip.active:has(.tah-tooltip-wrapper) {
    transition: visibility 0s 500ms, opacity 500ms 500ms;
}

#tooltip:not(.active).tah-tooltip,
#tooltip:not(.active):has(.tah-tooltip-wrapper) {
    transition: visibility 0s, opacity 0s;
}

#tooltip.tah-tooltip h3,
#tooltip.active:has(.tah-tooltip-wrapper) h3 {
    padding-bottom: 8px;
    text-align: left;
}

#tooltip.tah-tooltip h4,
#tooltip.active:has(.tah-tooltip-wrapper) h4 {
    font-weight: 600;
    text-align: left;
}

#tooltip.tah-tooltip :is(ul, h3, h4, p),
#tooltip.active:has(.tah-tooltip-wrapper) :is(ul, h3, h4, p) {
    text-align: left;
}

#tooltip.tah-tooltip :is(a.content-link, a.inline-roll),
#tooltip.active:has(.tah-tooltip-wrapper) :is(a.content-link, a.inline-roll) {
    background: none;
    border: none;
    color: var(--color-text-light-7);
    font-weight: 600;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

#tooltip.tah-tooltip :is(a.content-link i, a.inline-roll i),
#tooltip.active:has(.tah-tooltip-wrapper)
    :is(a.content-link i, a.inline-roll i) {
    color: var(--color-text-light-7);
}

#tooltip.tah-tooltip strong,
#tooltip.active:has(.tah-tooltip-wrapper) strong {
    font-weight: 600;
}

#tooltip .tah-properties {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: left;
}

#tooltip .tah-property {
    line-break: strict;
    border-right: 1px solid var(--color-text-light-7);
    color: var(--color-text-light-7);
    font-size: var(--font-size-11);
    padding-right: 5px;
}

#tooltip .tah-property:first-child {
    padding-left: 0;
}

#tooltip .tah-property:last-child {
    border-right: none;
    padding-right: 0;
}
